<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Git search - saved</title>
</head>
<body>
    <nav><a href="/searchapp">HOME</a> <a href="saved">SAVED</a></nav>
    
    <h3>Saved repositories</h3>
    {% if existing_repositories %}
    <form method="POST" action="inforemove">
        {% csrf_token %}
        <div>
            <ul>
            {% for repo in existing_repositories %}
                <li>
                    <!-- 0=lang, 1=space, 2=repo_name -->
                    <label class="label_language_name" for="{{ repo.0 }}">{{ repo.0 }}</label>
                    <label class="label_space_decoration" for="{{ repo.0 }}">{{ repo.1 }}</label>
                    <input type="checkbox" name="repository_{{ repo.2 }}" value="">
                    <label for="{{ repo.0 }}">{{ repo.2 }}</label>
                </li>
            {% endfor %}
            </ul>
        </div>
        <p>Remove selected repositories?</p>
        <input class="input_button" type="submit" name="remove_button_pressed" value="Remove">
    </form>
    {% else %}
    <p>Nothing saved to show!</p>
    {% endif %}
</body>
</html>
